@import '../../styles/global.scss';

.pillars{
    background-color:$blue;
    @extend .app-section;

    .title{
        color: white;
        @extend .app-title;
        &:after{
            content:'';
            display:block;
            margin:40px auto 10px;
            width:15px;
            height:15px;
            border-radius: 50%;
            background-color:$cyan;
        }
    }
    .pillars-inner{
        position: relative;
        overflow: hidden;
        .pillars-icon{
            position: absolute;
            bottom:0;
            left:50%;
            transform:translate(-50%,50%);
            svg{
                    width:120px;
                    height:120px;
                    path{
                        fill: $cyan;
                    }
                }
        }
        .row{
            margin:0;
            padding:0;
            position: relative;
            .wrapper{
                padding:0 30px;
                margin:30px 0;
            }
        }
        .item {
            padding:50px;
            height:100%;
            background-color:$cyan;  
            color:#fff;
            border-radius: 70px;
            min-height: 300px;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            .title {
                @extend .app-title;
                font-size:18px;
                margin-bottom:20px;
                font-weight: 700;
                &:after{
                    content:'';
                    display:none;
                }
            }
            .label {
                @extend .app-subtitle;

            }
        }
    }
    
}
