@import '../../styles/global.scss';

.attention {
    background-image: #000;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    .bg{
        position:absolute;
        top:0;
        left:0;
        background:$cyan;
        width:100%;
        height:100%;
        opacity: 0.5;
        z-index: 0;
    }
    .content{
        position: relative;
        z-index: 1;
    }
    .title{
        color: white;
        text-align: center;
        @extend .app-title;
        margin-bottom:36px;
    }

    .title2 {
        color:white;
        text-align: center;
        @extend .app-subtitle;
        margin-bottom:46px;
    }
    .buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .dot{
        background:$blue;
        width:100px;
        height:100px;
        position:absolute;
        bottom:0;
        left:50%;
        transform:translate(-50%,50%);
        border-radius:50%;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);

    }
}



.attention-button {
    @extend .app-btn;
}

.circle {
    color:#000F39;
}
