@import '../../styles/global.scss';

.help {
    @extend .app-section;
    padding-bottom: 0 !important;

    .content{
        position: relative;
        z-index: 1;
        text-align: center;
    }
    h1 {
        @extend .app-title;
        margin-bottom:20px;
        &:after{
            content:'';
            display:block;
            margin:40px auto 10px;
            width:15px;
            height:15px;
            border-radius: 50%;
            background-color:$cyan;
        }
    }

    .row{
        align-items:center;
        margin-bottom:20px;
    }

    .go-to-blog{
        background:$blue;
        padding-top:50px;
        padding-bottom:10px;
        padding-left:20px;
        padding-right:20px;
    }

    .items {
        .item {
            h4 {
                @extend .app-subtitle;
                font-weight: 400;
                margin-top: 10px;
                padding-left: 10px;
                font-weight: 600;
                font-size: 22px;
                text-align: left;
            }
            .item-icon {
                position: relative;
                text-align: center;

            svg {
                width: 80px;
                height: 80px;
                path {
                fill: $cyan;
                }
            }
            @extend .animated;
            &:hover {
                transform: translateY(-10px);
            }
            }
        }
        }
}

