@import '../../styles/global.scss';


.how{
    @extend .app-section;

    .title{
        @extend .app-title;
        padding-bottom:20px;
        &:after{
            content:'';
            display:block;
            margin:40px auto 10px;
            width:15px;
            height:15px;
            border-radius: 50%;
                background:$cyan;
        }
    }
    .items {
        .item {
            margin-bottom:30px;
            .row{
                align-items: center;
                flex-direction: row;
                .col-xs-2{
                    width:calc(2 * 100% / 12);
                }
                .col-xs-10{
                    display: flex;
                    width:calc(10 * 100% / 12);
                    align-items: center;
                }
            }
            h4 {
                @extend .app-title;
                font-size: 18px;
                text-align: left;
                margin-bottom:0;
            }
            .item-icon {
                margin-left:calc(100% - 35px);
                display: block;
                position: relative;
                padding-top:8px;
                background:$blue;
                color:#fff;
                @extend .app-title;
                font-size:24px;
                width: 50px;
                height:50px;
                border-radius: 50%;
            }
        }
    }
}

.how-button {
    @extend .app-btn;
    margin-top:50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid $blue;
    &.alt{
        background-color:$blue;
        color:white;
        &:hover{
            background-color:white;
            color:$blue;
            border:1px solid $blue;
        }
    }
}