@import '../../styles/global.scss';

.about {
    background-image: #000;
    min-height: 50vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    @extend .app-section;

    .bg{
        position:absolute;
        top:0;
        left:0;
        background:$cyan;
        width:100%;
        height:100%;
        opacity: 0.5;
        z-index: 0;
    }
    .content{
        position: relative;
        z-index: 1;
    }

    .item {
        text-align: center;
        h3 {
            @extend .app-title;
            color: white;
            font-size:26px;
        }
        h4 {
            @extend .app-subtitle;
            color: white;
        }
    }
}