@import '../../styles/global.scss';

.footer{
    background-color: $blue;
    margin-bottom:0;
    padding:20px;
    .row{
        align-items: center;
    }
    .title{
        @extend .app-title;
        padding-top: 10px;
        font-size: 20px;
        font-weight: 600;
        color: white;
    }
    .title2{
        @extend .title;
        padding-top: 0px;
        color: white;
        font-weight: 500;
        padding-bottom: 30px;
        margin-bottom:0;
    }
    .adress{
        @extend .app-subtitle;
        color: white;
        font-size: 14px;
        margin-bottom:0;
    }
    a{
        color:#fff;
        text-decoration: none !important;
    }

    .author{
        background-color: $red;
    }
}
.footer-2{
    background-color:$red;
    min-height: 10px;
}

.footer-author{
    background-color: $blue;
    h6{
        margin-bottom:0;
        padding:5px;
        font-size:10px;
        text-align: center;
        a{
            color:#fff;
        }
    }
}