@import '../../styles/global.scss';

.mentors{
    background-color:$cyan;
    @extend .app-section;

    .title{
        color: #fff;
        @extend .app-title;
        &:after{
            content:'';
            display:block;
            margin:30px auto 0px;
            width:15px;
            height:15px;
            border-radius: 50%;
                background:#fff;
        }
    }
    .description{
        margin-top: 5%;
        position: relative;
        .name{
            color: #fff;
            @extend .app-title;
            text-align: left;
            font-size: 18px;
        }
        .direction{
            color: #fff;
            @extend .app-title;
            text-align: left;
            font-size: 16px;
            padding-bottom: 16px;
            font-weight: 500;
        }
        .label{
            color: #fff;
            @extend .app-subtitle;
            text-align: left;
            font-size: 16px;
        }
        .icon {
            display: flex;
            position: relative;
            margin-top:25px;
            margin-bottom: 25px;
            margin: 0 auto;
            color:#fff;
            @extend .app-title;
            font-size:24px;
            width: 220px;
            height: 220px;
            border-radius: 50%;
        }
    }
}

.mentors-button {
    @extend .app-btn;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:auto;
    display: inline-block;
    margin-bottom:0;
    margin-top:30px;
}

.mentors{
    .slick-slide{
        outline:none !important;
        * { 
            outline:none !important;
        }
        
    }
    
    .slick-arrow{
        display: none !important;
        &:before{
        }
    
        &.slick-prev{
            &:before{}
        }
        &.slick-next{
            &:before{}
    
        }
    }
    
    .slick-dots{
        bottom:-35px;
        li{
            button{
                &:before{
                    color:#fff;
                    opacity: 0.6;
                    font-size:20px;
                    @extend .animated;
                }
            }
            &.slick-active{
                button{
                    &:before{
                        color:#fff;
                        opacity: 0.9;
                    }
                }
    
            }
        }
    }
}

